
venv/
env/
.env
dbt-env/
bin/
lib/
include/
pyvenv.cfg

target/
dbt_modules/
dbt_packages/
logs/
*.log

*.json
!packages.json
!selectors.json

.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc
.ipynb_checkpoints/